<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Session</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/bookSession.css">

</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="brand">SLIET</div>
        <div class="nav-links-section">
            <a href="index.html" class="nav-link">Home</a>
            <a href="" class="nav-link">About Us</a>
            <a href="" class="nav-link">Explore Mentor</a>
            <a href="" class="nav-link">Contact Us</a>
        </div>
    </nav>

    <div class="book-section">
        <div class="book-section-content">
            <div class="book-head">Your Time, Your Plan, Your Success! <br> Schedule Your future</div>
            <div class="book-para">Focus on providing a purposeful learning experience while Setmore takes care of
                booking each booking.</div>
            <div class="book-head">All-in-one teacher scheduling software <br> for focused learning.</div>
        </div>

        <div class="book-section-img">
            <img class="book-img" src="../images/book.webp" alt="">
        </div>
        <a href="#book" class="book-session-head">Book Your Session with your favourite Professors</a>

    </div>

    <!-- book session section -->
    <br><br>
    <div class="teacher-section-main" id="book">

    </div>

    <script src="../scripts/bookSession.js"></script>
</body>

</html>