<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor Profiles</title>
    <link rel="stylesheet" href="../styles/explore.css">
</head>
<body>

    <!-- Search Bar -->
     <section class="explore-mentors" id="explore-mentors">
        <div class="header">
            <div class="header-section">
                <img src="../images/explore.png" alt="explore" height="70vh"/>
                <h2>Explore & Connect</h2>
            </div>
        </div>
        <div class="search-container">
            <img src="../images/search.png" alt="search" width="40px" height="40px">
            <input type="text" id="searchBar" placeholder="Search your Mentors" onkeyup="searchProfessors()"/>
        </div>
    
        <!-- Main Container where professor cards will be dynamically inserted -->
        <div class="container">
            <!-- Professor cards will be added here by JavaScript -->
        </div>
     </section>
    

    <!-- Link to the external JavaScript file -->
    <script src="../scripts/explore.js"></script>
</body>
</html>
